[submodule "vscode"]
	path = vscode
	url = git@github.com:w1ne/labwired-vscode.git
[submodule "landing_page"]
	path = landing_page
	url = git@github.com:w1ne/labwired-landing.git
[submodule "core"]
	path = core
	url = git@github.com:w1ne/libwired-core.git
