# LabWired - Firmware Simulation Platform
# Copyright (C) 2026 Andrii Shylenko
#
# This software is released under the MIT License.
# See the LICENSE file in the project root for full license information.

[workspace]
resolver = "2"
members = [
    "crates/core",
    "crates/loader",
    "crates/cli",
    "crates/firmware-stm32f103-uart",
    "crates/firmware-f401-demo",
    "crates/firmware-armv6m-ci-fixture",
    "crates/firmware-h563-demo",
    "crates/firmware-h563-io-demo",
    "crates/firmware-h563-fullchip-demo",
    "crates/firmware-hil-showcase",
    "crates/firmware-armv7m-benchmark",
    "crates/firmware-rp2040-pio-onboarding",
    "crates/firmware-nrf52832-demo",
    "crates/firmware-rv32i-ci-fixture",
    "crates/config", "crates/dap", "crates/gdbstub",
    "crates/ir",
    "crates/svd-ingestor",
    "examples/firmware-armv6m-hello",
    "examples/firmware-rv32i-hello",
    "examples/firmware-stm32f103-blinky", "crates/codegen",
    "crates/python",
]
exclude = ["crates/firmware-hal-test"]
default-members = ["crates/cli", "crates/core", "crates/loader"]

[workspace.package]
version = "0.12.0"
edition = "2021"
authors = ["LabWired Team"]
license = "MIT"

[workspace.dependencies]
anyhow = "1.0"
thiserror = "1.0"
tracing = "0.1"
tracing-subscriber = "0.3"
clap = { version = "4.4", features = ["derive"] }
goblin = "0.7"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
bitflags = "2.4"
human-size = "0.4"
serde_json = "1.0"
sha2 = "0.10"
cortex-m = "0.7"
cortex-m-rt = "0.7"
panic-halt = "0.2"
memmap2 = "0.9"
pio = "0.2"
pio-parser = "0.2"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = false

[profile.release.package.firmware-armv6m-ci-fixture]
codegen-units = 1
debug = true
opt-level = "s"

[profile.release.package.firmware-f401-demo]
codegen-units = 1
debug = true
opt-level = "s"

[profile.release.package.firmware-h563-demo]
codegen-units = 1
debug = true
opt-level = "s"

[profile.release.package.firmware-h563-io-demo]
codegen-units = 1
debug = true
opt-level = "s"

[profile.release.package.firmware-h563-fullchip-demo]
codegen-units = 1
debug = true
opt-level = "s"

[profile.release.package.firmware-rv32i-ci-fixture]
codegen-units = 1
debug = true
opt-level = "s"

[profile.release.package.firmware-hil-showcase]
codegen-units = 1
debug = true
opt-level = "s"

[profile.release.package.firmware-rp2040-pio-onboarding]
codegen-units = 1
debug = true
opt-level = "s"

[profile.release.package.firmware-nrf52832-demo]
codegen-units = 1
debug = true
opt-level = "s"
